// font-family: 'Roboto', sans-serif;
// font-family: "MyriadProRegular";
// font-family: "Kelson Sans RU";
// font-family: Calibri,sans-serif;
// font-family: 'Open Sans', sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
@import url("/fonts/MYRIADPRO-REGULAR.OTF");
@import url("/fonts/ofont.ru_Kelson\ Sans\ RU.ttf");
@import url("/fonts/Calibri.ttf");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  background: #fff;
  color: #050505;
  margin: 0 auto;
}
.container {
  max-width: 1100px;
  padding: 0 10px;
  margin: 0 auto;
}

.menu__item {
  color: #0e3d6b;
  text-decoration: none;
  font-weight: 600;
}
.header {
  margin: 10px 10px;
  height: 90px;
  background: #fff;
  display: flex;
  align-items: center;
  &__wrapper {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }
  &__logo img {
    height: 40px;
    width: 140px;
  }
  &__tel a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    margin: 0 15px;
    font-family: "Kelson Sans RU", sans-serif;
    font-weight: 700;
  }
  &__nav {
    right: 20px;
    display: flex;
  }
  &__menu {
    li {
      list-style: none;
      margin: 0px 10px 0px 10px;
      color: #000;
      font-size: 12px;
      text-transform: uppercase;
      text-decoration: none;
      color: #044d91;
      line-height: 18px;
    }
  }
  &__switchLang .lang__btn {
    font-size: 14px;
    background-color: #fff;
  }
  &__switchLang .lang__btn:hover {
    font-size: 14px;
    background-color: #ff8500;
    color: #fff;
    font-weight: 400;
  }
}

.main {
  margin: 0 auto;
  &__title {
    font-family: "MyriadProRegular";
    text-transform: uppercase;
    font-size: 30px;
    margin: 0 0 25px 0;
    font-weight: 700;
    color: #0e3d6b;
  }
  &__link {
    margin-bottom: 30px;
  }
  &__link-icon img {
    width: 12px;
    height: 12px;
    margin-right: 3px;
  }
  &__link-windows {
    text-transform: uppercase;
    font-size: 14px;
    color: darkgray;
    text-decoration: none;
    font-family: "MyriadProRegular";
    line-height: 18px;
  }
  &__link-windows:hover {
    text-transform: uppercase;
    font-size: 18px;
    color: #0e3d6b;
    text-decoration: none;
  }
  &__text {
    font-family: Calibri, sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    margin: 5px;
  }
}
.typeWindows {
  max-height: 350px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__title {
    text-align: center;
    margin: 50px auto 60px;
    text-transform: uppercase;
    font-size: 30px;
    color: #0e3d6b;
    font-weight: 600;
    line-height: 18px;
    font-family: "MyriadProRegular", sans-serif;
  }
  &__plas-alum {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 260px;
  }
  &__plastic,
  &__aluminium {
    display: flex;
    flex-direction: row;
    & img {
      max-width: 220px;
      height: 150px;
    }
    &-info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      font-size: 14px;
      text-align: center;
      width: 320px;
      &-title {
        font-weight: 400;
        font-size: 24px;
        font-family: "Roboto", sans-serif;
        color: rgb(4, 77, 145);
        line-height: 21px;
      }
      &-text {
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        color: rgb(33, 36, 52);
        line-height: 18px;
        width: 340px;
        margin: 0 10px;
      }
    }
  }
  &__line {
    width: 175px;
    height: 5px;
    background-color: #ff8500;
    margin: 16px auto;
  }
  &__btn {
    height: 35px;
    width: 135px;
    background-color: #ff8500;
    color: #fff;
    border-radius: 5px;
    margin: 18px auto;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    font-family: "MyriadProRegular", sans-serif;
  }
  &__btn:hover {
    height: 35px;
    width: 135px;
    background-color: #fff;
    color: #ff8500;
    border-radius: 4px;
    margin: 18px auto;
    padding-top: 10px;
    border: 1px solid black;
  }
}
.sale {
  background-color: #e9f1f8;
  height: 206px;
  margin: 30px auto;
  font-family: "Myriad Pro";
  .sale__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text-title {
    font-size: 33px;
    font-family: "MyriadProRegular", serif;
    color: rgb(0, 74, 143);
    font-weight: regular;
    text-transform: uppercase;
    line-height: 18px;
    text-align: center;
    margin: 24px auto;
  }
  &__text-subtitle,
  &__text-endweek {
    font-size: 26px;
    color: rgb(14, 61, 107);
    line-height: 24px;
    text-align: center;
    max-width: 620px;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: uppercase;
    & span {
      font-weight: 700;
      font-size: 30px;
    }
  }
  &__text-endweek span {
    color: #ff8500;
  }
  &__text-endweek b {
    font-weight: 700;
  }
}
.price {
  &__title {
    text-transform: uppercase;
    border-bottom: 1px solid #dae7f3;
    color: rgb(14, 61, 107);
    font-family: Calibri, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 17px;
    letter-spacing: 0.5px;
    margin-bottom: -2px;
    hr {
      width: 200px;
      height: 4px;
      background-color: #ff8500;
    }
  }
  &__text {
    font-size: 16px;
    font-family: Calibri, sans-serif;
    color: rgb(14, 61, 107);
    line-height: 1.087;
    text-align: left;
    margin: 34px auto;
  }
}
.typeWindforSale {
  &__wrapper {
    display: flex;
    flex-direction: row;
    .typeWindforSale__inner {
      width: 320px;
      height: 500px;
      margin: 0 10px;
      .labelSale {
        background-color: red;
        width: 80px;
        height: 47px;
        border-radius: 6px;
        position: absolute;
        a {
          text-decoration: none;
          color: #fff;
          span {
            font-size: 12px;
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            b {
              font-family: "Roboto", sans-serif;
              font-size: 16px;
              font-weight: 300;
            }
          }
        }
      }
      .infoSale {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        img {
          margin: 20px 30px 10px;
        }
        &__name {
          margin: 0 auto 15px;
          font-family: "Open Sans", sans-serif;
          font-style: 16px;
          color: blue;
        }
        &__withoutSale {
          margin: 20px auto;
          color: #666262;
          span {
            text-decoration: line-through;
            font-size: 14px;
            line-height: 2px;
            text-decoration-color: red;
            color: #666262;
          }
        }
        &__price {
          font-size: 10px;
          margin: 10px auto;
          color: #666262;
          &-sum {
            font-size: 23px;
            font-weight: 600;
            color: #ff8500;
          }
          &-uan {
            color: #044d91;
            font-size: 14px;
            font-weight: 700;
          }
        }
        &__btn {
          margin: 8px auto;
          padding: 4px 40px;
          background-color: green;
          &-text {
            color: #fff;
            text-transform: uppercase;
            cursor: pointer;
          }
        }
        &__btn:hover {
          margin: 8px auto;
          padding: 4px 40px;
          background-color: red;
        }
        &__btn:active {
          margin: 8px auto;
          padding: 4px 40px;
          background-color: black;
          border: 1px solid green;
          &-text {
            color: #fff;
          }
        }
      }
    }
  }
}
.menu__btn {
  display: none;
}
// .tableIcon {
//   &__inner {
//     display: flex;
//     justify-content: space-between;
//     flex-direction: row;
//     background-color: red;
//   }
// }

// .export {
//   &__wrapper {
//     width: 100px;
//     height: 50px;
//     background-color: rgb(31, 194, 31);
//     &-text {
//       color: red;
//       // position: relative;
//       top: -5px;
//       left: 20px;
//     }
//     &-text::before {
//       content: url("/images/icon/icon1.png");
//       position: relative;
//       top: 8px;
//       margin-right: 10px;
//     }
//   }
// }
.header__nav .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 895px;
}
.header__nav .menu > li {
  list-style: none;
}
.menu__btn {
  display: none;
}

@media (max-width: 1250px) {
  .header__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .header__logo,
  .header__tel {
    display: block;
  }
  .menu__btn {
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    border-top: 2px solid #fefefe;
    border-bottom: 2px solid #fefefe;
    background-color: transparent;
    position: relative;
  }
  .menu__btn::before {
    content: "";
    position: absolute;
    background-color: #fefefe;
    width: 30px;
    height: 2px;
    left: 0;
    top: 12px;
  }
}
@media (max-width: 1160px) {
  body {
    overflow-x: inherit;
  }
  .header {
    margin: 0 0;
    display: flex;
    justify-content: center;
    &__nav {
      display: none;
    }
  }
  .main {
    margin: 0 auto;
  }
  .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 10px;
  }
  .typeWindows__wrapper {
    max-height: 310px;
    margin: 0 auto;
    // width: 100%;
  }
  .typeWindows__plas-alum {
    display: flex;
    flex-direction: column;
  }
  .typeWindows__plastic,
  .typeWindows__aluminium {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .sale {
    margin: 200px auto;
  }
  .typeWindforSale__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
  }
  .menu__list.menu__list--active {
    transform: translateY(0);
  }
  .menu__list-link {
    padding: 20px 0;
    display: block;
  }
  .menu__btn {
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    border-top: 2px solid #fefefe;
    border-bottom: 2px solid #fefefe;
    background-color: transparent;
    position: relative;
  }
  .menu__btn::before {
    content: "";
    position: absolute;
    background-color: #fefefe;
    width: 30px;
    height: 2px;
    left: 0;
    top: 12px;
  }
}
@media (max-width: 930px) {
  .container {
    max-width: 890px;
  }
  .main__title {
    font-size: 24px;
    text-align: center;
  }
  .main__link {
    margin-left: 20px;
  }
  .main__text {
    margin: 0 10px;
    text-align: center;
  }
  .sale {
    margin: 200px 10px 20px 10px;
    height: 315px;
  }
  .sale__inner {
    display: flex;
    flex-direction: column;
  }
  .sale__img1 {
    display: none;
  }
}
